.pane {
  -fx-background-color: #fff;
}

.button{
  -fx-cursor: "open_hand";
  -fx-text-fill: #fff;
  -fx-background-color:  #3498db;
  -fx-background-radius: 12px;
}

.button:pressed {
  -fx-effect: dropshadow(three-pass-box, #3498db80, 10, 0, 0, 5);
}

.button:hover {
  -fx-background-color: #2980b9;
}

.button:pressed {
  -fx-effect: dropshadow(three-pass-box, #3498db80, 10, 0, 0, 5);
}